<!DOCTYPE html>
<html>
<head>
<title><%= logement.titre %></title>
<link rel="stylesheet" href="/style.css">
</head>
<body>
<h1><%= logement.titre %></h1>
<img src="<%= logement.image %>" alt="">
<p><%= logement.description %></p>
<p>Prix : <%= logement.prix %>€ / nuit</p>
<a href="/">Retour à l'accueil</a>
</body>
</html>
